.home-page{
     display:flex;
    flex-direction: column;

    .home-page_ul{
        width: 100%;
        display:flex;
        justify-content: space-around;
        padding: 20px;
        flex-wrap: wrap;
        gap: 20px;
    }
}