
.cards{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: #E6E7DD;
    max-height: 350px;
    max-width: 250px;
    font-family: 'Inter', sans-serif;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;

.card-title{
    display:flex;
    margin: 5px;
    padding-left: 3%;
    font-size: 1rem;
    color: #002C39;
}

    .card-img-container{
       display:flex;
       
        height: 60%;
        overflow: hidden;

        img{
        
            height: 100%;
        }

        
    }
    .achat{
        display:flex;
        justify-content: space-between;
        padding: 8px;

        .single-card-infos{
            display: flex;
            flex-direction: column;
            gap: 4px;

            .apartirde {
                font-size: 0.8rem;
                color: gray;
            }

            .tarif{
                font-weight: 600;
                color: #002C39;
            }
        }

    }
    
}