.warning {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  padding-top: 25px;
  background-color: #010e13;
  width: 100vw;
  height: 100vh;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
button {
  background: #446d7a;
  border: none;
  box-shadow: 10px 10px 25px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  height: 55px;
  width: 150px;
  color: #f2f3f3;
  font-weight: 500;
  font-size: 1rem;
  cursor: pointer;
  transition: 300ms;
}
.warning-title {
  display: flex;
  align-items: center;
  gap: 25px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 25px;
  letter-spacing: 2px;
  word-spacing: 2px;
  color: #a10000;
  font-weight: normal;
  text-decoration: none;
  font-style: normal;
  font-variant: normal;
  text-transform: uppercase;
}

.warning-list {
  margin: 15px;
  text-transform: uppercase;
}

.disclaimer {
  background-color: #051c23;
  border: solid 1px #103743;
  border-radius: 17px;
  box-shadow: 10px 10px 25px rgba(0, 0, 0, 0.5);
  padding: 20px;
  display: flex;
  flex-direction: column;
  color: #d2d6d7;
  // letter-spacing: -0.8pt;
  // font-weight: 600;
  // font-size: 23px;
  // margin-bottom: 20px;
}

.warning-instructions {
  color: #d2d6d7;
  letter-spacing: -0.8pt;
  font-weight: 600;
  font-size: 23px;
  margin-bottom: 20px;
}

.disclaimer2 {
  background-color: #051c23;
  border: solid 1px #103743;
  border-radius: 17px;
  box-shadow: 10px 10px 25px rgba(0, 0, 0, 0.5);
  padding: 20px;
  display: flex;
  flex-direction: column;
  color: #d2d6d7;
}

.popup-content {
  height: 55px;
  width: 150px;
  color: #f2f3f3;
  font-weight: 500;
  font-size: 1rem;
}
