


.container {

    width: 100%;
    font-family: 'Inter', sans-serif;
    display: flex;
    flex-direction: column;

    .iconCross{
        position: absolute;
        color: white;
        right: 3%;
        top: 4%;
        scale: 170%;
        cursor: pointer;
        transition: all 0.3s;
            &:hover{
                scale: 180%;
                transform: rotate(90deg);
            }
    }

}

.ImageCardDetails {

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #002C39;
    width: 100%;
    height: 40%;
    max-height: 450px;
    overflow:hidden;

    img {
        width: 100%;
    }
}

.DescriptionCardDetails {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100%;
    width: 100%;
    color: white;
    font-size: 20px;
    padding: 30px;
}

.description-details {

    padding-top: 30px;
    width: 100%;
    text-align: start;
    padding-left: 10%;
    padding-right: 10%;
    font-weight: 300;

}

.title-details {

    padding-top: 20px;
    font-size: 2rem;;
    display: flex;
    justify-content: center;
}


.ButtonReservation {

    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    border: none;
    padding-bottom: 30px;
    padding-top: 30px;
    padding-left: 5%;
    padding-right: 5%;
    gap: 80px;

    .iconClock{
        color: white;
        transform: translate(60px);
    }

    .button-details {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: white;
        color: #002C39;
        border: none;
        padding: 10px 20px;
        font-size: 14px;
        width: 200px;
        border-radius: 10px;
        cursor: pointer;
        transition: 0.2s;

        &:hover{
            background: #001E27;
            color: white;

        }

    }


   

}

    .iconMoney{
        color: white;
        transform: translate(-60px);
    }
    .PriceCard {

        color: white;
        font-size: 1.2rem;

    }

