@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  body{
    background: rgb(2,95,122);
    background: radial-gradient(circle, rgba(2,95,122,1) 0%, rgba(0,44,57,1) 75%);
  }
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

:root {
  --color-bg: rgba(0, 44, 57, 1);
}
