@import "./global";

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 250px;
  padding: 50px;

  .title_container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 30%;
  }
  .about-us {
    display: flex;
    align-items: center;
    background-color: #6396a5;
    height: auto;
    border-radius: 15px;
    transition: all 0.2s;
    &:hover {
      transform: scale(105%);
      opacity: 80%;
    }
  }

  .hero_title {
    font-family: "Inter", sans-serif;
    font-size: 2rem;
    color: whitesmoke;
    text-transform: uppercase;
  }

  .hero_title_span {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
      Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
      sans-serif;
    font-size: 2rem;
    color: rgba(99, 150, 165, 1);
    text-transform: uppercase;
  }
  .link-about-us {
    display: flex;
    justify-content: center;
    font-family: "Inter", sans-serif;
    font-size: 1rem;
    padding: 20px 30px;
    font-weight: 800;
    color: whitesmoke;
    text-transform: uppercase;
    width: 100%;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  }
}