@import "./global";

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  // background-color: var(--color-bg);
  width: 100%;
  height: 250px;
  padding: 50px;

  .title_container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 30%;

  }
  .about-us {
    display:flex;
    align-items: center;
    background-color: #6396A5;
    width: 30%;
    height: auto;
    max-width:300px;
    min-width: 150px;;
    min-height:100px;
    padding: 15px;
    border-radius: 15px;
    transition: all 0.2S;
    &:hover{
      transform:scale(105%);
      opacity: 80%;
   }
  }

  .hero_title {
    font-family: "Inter", sans-serif;
    font-size: 2rem;
    color: whitesmoke;
    text-transform: uppercase;
  }

  .hero_title_span {
    // font-family: "Kalam", cursive;
    font-size: 2rem;
    color: rgba(99, 150, 165, 1);
    text-transform: uppercase;
  }
  .link-about-us {
    font-family: "Inter", sans-serif;
    font-size: 0.8rem;
    color: whitesmoke;
    text-transform: uppercase;
  }
}
