@import "./global";

.hero {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--color-bg);
  height: 250px;
  width: 100%;
  padding: 10px;
  text-shadow: 3px 5px 2px #5e4d4d;

  .hero_title {
    font-family: "Inter", sans-serif;
    font-size: 4rem;
    color: whitesmoke;
  }

  .hero_title_span {
    font-family: "Kalam", cursive;
    font-size: 4rem;
    color: red;
  }
}

.about-us {
  background-color: var(--color-bg);
  height: 250px;
  width: 100%;
  padding: 10px;
  text-shadow: 3px 5px 2px #5e4d4d;

  .about-us_text {
    font-family: "Inter", sans-serif;
    font-size: 4rem;
    color: whitesmoke;
  }
}
